[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gigolo
Comment=
Exec=/home/zulu/zpack/zgigolo.sh
StartupNotify=false
Terminal=false
Hidden=false

